/* Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Variables */

:root {
  --primary-color: #121212;
  --secondary-color: #36393f;
  --btn-primary-color: #294394;
  --accent-color: #605f91;
  --text-color: #fbfbf9;
}

/* General Settings */
* {
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color) !important;
}

h5 {
  font-weight: bold !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--btn-primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--btn-primary-color);
  filter: brightness(110%);
  transition: 0.3s;
}

/* Login and Register */

.login-wrapper,
.register-wrapper {
  width: 499px;
  border-radius: 20px;
  padding: 30px 50px;
  background: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-wrapper input,
.register-wrapper input {
  background-color: var(--primary-color) !important;
}

.login-wrapper input::placeholder,
.register-wrapper input::placeholder {
  color: var(--text-color) !important;
  filter: brightness(25%);
}

.container-login,
.container-register {
  height: 100%;
  display: flex;
  align-items: center;
}

.login-img-wrapper,
.register-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img-wrapper img,
.register-img-wrapper img {
  max-width: 200px;
}

.form-control {
  border-radius: 5px;
  color: var(--text-color) !important;
  border: none;
}

/* Navbar */

.navbar {
  background: rgba(54, 57, 63, 0.7) !important;
  backdrop-filter: blur(5.5px);
  border-bottom: solid 3px var(--secondary-color);
}

.input-group {
  margin-top: 0px;
  border: 2px solid var(--text-color);
  color: var(--text-color) !important;
  border-radius: 10px;
}

.input-group input {
  background-color: rgba(54, 57, 63, 0.7) !important;
  border-radius: 10px 0 0 10px;
  backdrop-filter: blur(5.5px);
  border: none;
}

.input-group input:focus {
  box-shadow: none;
  border: none;
}

.input-group input::placeholder {
  color: var(--text-color) !important;
}

.btn-search {
  border: none;
  background-color: rgba(54, 57, 63, 0.7) !important;
  backdrop-filter: blur(5.5px);
  border-radius: 0 10px 10px 0;
}

.btn-upload i {
  font-size: 30px;
}

.btn-upload {
  display: block;
  display: flex;
  align-items: center;
}

.btn-search:hover {
  background-color: rgba(54, 57, 63, 0.7) !important;
  filter: brightness(150%);
  transition: 0.3s;
}

.btn-nav-icon {
  font-size: 1.7rem;
}

/* Navbar Dropdown */
.dropdown-menu {
  background-color: var(--secondary-color);
}

.dropdown-divider {
  background-color: var(--accent-color);
}

/* Carousel */
.custom-carousel {
  border-radius: 10px;
  height: 375px;
  max-height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 20px 5px rgba(41, 67, 148, 0.4);
}

.carousel-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.custom-carousel .carousel-inner {
  height: 100%;
}

.custom-carousel .carousel-item {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  z-index: 2;
}

/* Card */
.card-wrapper {
  display: flex;
  align-items: start;
}
.card {
  background: rgba(54, 57, 63, 0.7) !important;
  backdrop-filter: blur(5.5px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card:hover {
  box-shadow: 0 0 20px 5px rgba(41, 67, 148, 0.4);
  transition: 0.3s;
}

.card {
  width: 19rem;
}

.card img {
  border-radius: 20px 20px 0 0;
}

/* Search */
.search-wrapper {
  display: flex;
  align-items: start;
}

/* Upload */
.container-upload {
  margin-top: 2rem;
  max-width: 550px;
}

.container-upload form input,
.container-upload form textarea,
.container-upload form option,
.container-upload form .multivalue-input {
  background-color: var(--secondary-color) !important;
}

.container-upload form input::placeholder,
.container-upload form textarea::placeholder {
  color: var(--text-color);
}

.container-upload form textarea {
  resize: none;
  height: 125px;
}
.upload-title {
  font-size: 50px;
  font-weight: 800;
}
/* Profile */
.profile-wrapper {
  align-items: start;
}

.profile-wrapper h3 {
  padding-bottom: 5px;
  border-bottom: 2.5px solid var(--btn-primary-color);
  width: fit-content;
}

.profile-head .profile-nums {
  font-size: 24px;
  font-weight: 800;
}

.profile-name {
  display: inline-block;
  font-weight: bold;
}

.profile-head {
  margin-bottom: 3rem;
}

.profile-head img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--btn-primary-color);
  box-shadow: 0 0 20px 5px rgba(41, 67, 148, 0.4);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
}

.btn-profile {
  width: 100%;
}

.container-bio {
  margin-bottom: 3rem;
}

/* Product Page */
.product-page-wrapper {
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px 5px rgba(41, 67, 148, 0.4);
  border-radius: 20px;
  padding: 4rem 4rem;
  margin-top: 3rem;
}

.product-thumbnail img {
  width: 468px;
  border-radius: 15px;
}

.carousel-thumbnail {
  overflow: hidden;
}

.carousel-thumbnail img {
  border-radius: 20px;
}

.reviews-wrapper {
  margin-top: 1rem;
  max-height: 500px;
  border-radius: 20px;
  padding: 1.25rem;
  background-color: var(--primary-color);
  overflow-y: scroll;
}

.reviews-wrapper::-webkit-scrollbar {
  height: 0;
}

.review-entry {
  margin-bottom: 1.5rem;
}

.review-txt {
  font-size: small;
}

.reviews h4,
.right-section h4 {
  padding-bottom: 5px;
  border-bottom: 2.5px solid var(--btn-primary-color);
  width: fit-content;
}

.rating {
  font-size: 1.25rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

form i {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

form .rating-input {
  background-color: var(--primary-color) !important;
  width: fit-content;
}

.tags-product {
  background-color: var(--primary-color);
  width: fit-content;
  border-radius: 10px;
  padding: 10px 15px;
}

.tags-product ul {
  padding: 0;
}

.tags-product li {
  display: inline;
}
.review-form textarea {
  background-color: var(--primary-color) !important;
  height: 150px;
  resize: none;
}

/* Edit Profile */
.container-edit {
  margin-top: 2rem;
  max-width: 550px;
}

.container-edit form input,
.container-edit form textarea,
.container-edit form option,
.container-edit form .multivalue-input {
  background-color: var(--secondary-color) !important;
}

.container-edit form input::placeholder,
.container-edit form textarea::placeholder {
  color: var(--text-color);
}

.container-edit form textarea {
  resize: none;
  height: 125px;
}
.edit-title {
  font-size: 50px;
  font-weight: 800;
}

/* Media Queries */

/* For Laptop Only */
@media (max-width: 1024px) {
  .card,
  .card img {
    width: 14rem;
  }

  .custom-carousel {
    height: 300px;
  }
}

/* For Tablet Only */
@media (max-width: 768px) {
}

/* For Phone Large Only */
@media (max-width: 426px) {
  .custom-carousel {
    height: 200px;
  }

  .container-login .login-wrapper img,
  .container-register .register-wrapper img {
    width: 450px;
  }

  .profile-head img {
    width: 75px;
    height: 75px;
  }
  .profile-head .profile-nums {
    font-size: 18px;
  }
  .profile-head p {
    font-size: 12px;
  }

  .container-bio {
    font-size: 12px;
  }

  .btn-profile {
    font-size: 12px;
  }
}

/* For Phone Small Only */
@media (max-width: 376px) {
  .login-wrapper,
  .register-wrapper {
    padding: 30px 20px;
  }

  form p {
    font-size: small;
  }

  .card,
  .card img {
    width: 17rem;
  }

  .input-group {
    margin-top: 10px;
  }

  .custom-carousel {
    height: 150px;
  }

  .profile-head img {
    width: 60px;
    height: 60px;
  }
}
