:root {
  --primary-color: #1a1a1a;
  --accent-color: #063757;
  --text-color: #eff4df;
}

/* General Settings */
* {
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color) !important;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--primary-color);
  background-image: url("http://localhost/skillfull/public/img/login_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Login and Register */

.form-control {
  border-radius: 5px;
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
  border: none;
}

.container-login {
  height: 100%;
  display: flex;
  align-items: center;
}

.container-login {
  position: relative;
}

.container-login .login-wrapper {
  position: relative;
  overflow: hidden;
}

.container-login .login-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.login-img-wrapper {
  height: 225px;
}

.login-wrapper {
  width: 499px;
  border-radius: 20px;
  padding: 30px 20px;
  background-color: var(--accent-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Navbar */

.input-group {
  margin-top: 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.input-group input {
  border-radius: 10px 0 0 10px;
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
  border: none;
}

.input-group input:focus {
  box-shadow: none;
  border: none;
}

.btn-search:hover {
  border: 1px solid var(--text-color);
  background-color: #4b4b4b;
}

.btn-nav-icon {
  font-size: 1.5rem;
}

/* Home  */
/* Carousel */

.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.custom-carousel {
  border-radius: 10px;
  height: 150px;
  max-height: 100vh;
  overflow: hidden;
}

.carousel-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.custom-carousel .carousel-inner {
  height: 100%;
}

.custom-carousel .carousel-item {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  z-index: 2;
}

/* Card */

.card,
.card img {
  width: 22rem;
}

.card {
  border-radius: 20px;
}

.card img {
  border-radius: 20px 20px 0 0;
}

/* For Desktop Only */
@media (min-width: 992px) {
  .login-wrapper {
    padding: 30px 50px;
  }

  .input-group {
    margin-top: 0px;
  }

  .custom-carousel {
    border-radius: 20px;
    height: 400px;
    max-height: 100vh;
    overflow: hidden;
  }

  .card,
  .card img {
    width: 19rem;
  }
}
